@import "./variable.css";
.slider{
    width: 500px;
    overflow: hidden;
}
.slider-track{
    display: flex;
    transform: translateX(0px);
    transition: all 0.4s ease;
}
.slider{
    min-width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.slider-button-wrapper button{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var( --primary-font);
    font-size: 16px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}
