@font-face {
    font-family: "vazir-regular" ;
    src: url(/assets/fonts/Vazirmatn-Regular.woff2);
}
@font-face {
    font-family: "vazir-bold" ;
    src: url(/assets/fonts/Vazirmatn-Bold.woff2);
}
@font-face {
    font-family: "vazir-light" ;
    src: url(/assets/fonts/Vazirmatn-Light.woff2);
}