@import './variable.css';
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
*,*::after,*::before{
    outline: none;
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.swal2-radio{
  flex-direction: column;
}

@media (min-width: 340px) {
  .container { max-width: 330px; }
}
@media (min-width: 480px) {
  .container { max-width: 480px; }
}
@media (min-width: 640px) {
  .container { max-width: 600px; }
}

@media (min-width: 768px) {
  .container { max-width: 720px; }
}

@media (min-width: 1024px) {
  .container { max-width: 1000px; }
}

@media (min-width: 1280px) {
  .container { max-width: 1240px; }
}