@import './variable.css';
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
*,*::after,*::before{
    outline: none;
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 640px) {
  .container { max-width: 640px; }
}

@media (min-width: 768px) {
  .container { max-width: 768px; }
}

@media (min-width: 1024px) {
  .container { max-width: 1024px; }
}

@media (min-width: 1280px) {
  .container { max-width: 1200px; }
}