/* header section */
.header{
    position: relative;
}
.header-img{
    width: 100%;
    position: sticky;
    height: 600px;
    object-fit: cover;
    filter: brightness(0.5);
}
.header-content_wrapper{
    position: absolute;
    height: 400px;
    margin-top: 80px;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top_menu{
    display: none;
}
.salon-name{
    font-size: 4rem;
    margin-top: 80px;
    font-family: "vazir-bold";
    text-align: center;
    color: white;
    line-height: 1.5;
}
.header-topbars{
    display: flex;
    align-items: center;
    height: 36px;
    gap: 2rem;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.header-top_button{
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-family: "vazir-bold";
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}
.header-topbars li{
    transition: all 200ms ease-in;
}
.header-topbars li:hover{
    padding: 0 5px;
    background-color: var(--primary-color);
    border-radius: 20px;
}
.user-menue{
    position: absolute;
    left: 10px;
    top: 80px;
    width: 300px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    padding: 20px;
    border-radius: 20px;
}
.user-info , .user-infos{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px 0;
}
.user-infos{
    justify-content: space-between;
}
.user-infos > span{
    transform: rotate(45deg);
    font-size: 30px;
    cursor: pointer;
}
.user-info img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.user-info span{
    font-family: "vazir-bold"
}
.user-menue {
    display: none;
}
.user-menue ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-menue ul li{
    cursor: pointer;
    border-bottom: 1px solid var(--primary-color);
    padding: 5px 5px 10px 0;
    transition: all 200ms ease-in;
}
.user-menue ul li:hover{
   background-color: var(--primary-color);
   border-radius: 20px;
}
/* header section */

/* information section  */

.information{
    background-color: var(--secondary-color);
    padding: 20px 0;
}
.informations-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.info-icons{
    width: 64px;
    height: 64px;
}
.line-between{
    display: block;
    height: 100px;
    width: 2px;
    margin: 0 12px;
    background-color: var(--primary-color);
}
.info-wrapper span{
    font-family: "vazir-bold" ;
}
.info-wrapper p{
    text-align: center;
}

/* information section  */

/* services section  */
.services{
    margin-top: 100px;
}
.services h2{
    text-align: center;
    font-size: 32px;
    font-family: "vazir-bold" ;
}
.services-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
.service img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}    
    
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 1;
}

.div5 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div6 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 3;
}
   
.service{
    position: relative;
    transition: all 200ms ease-in;
}
.service:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.service span{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 20px;
    font-family: "vazir-bold";
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
}
/* services section  */
 
/* Specialists section */
.Specialists{
    margin-top: 100px;
}
.Specialists h2{
    text-align: center;
    font-size: 32px;
    font-family: "vazir-bold" ;
}
.Specialists-wrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.specialist{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: all 200ms ease-in;
}
.specialist:hover{
    transform: translateY(-5px);
}
.specialist img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.specialist-info{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.specialist-info span{
    font-family: "vazir-bold";
}
/* Specialists section */

/* Salon info section  */

.salon-info{
    margin-top: 100px;
}
.salon-info_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.salon-info_wrapper img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}
.salon-info-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}
.salon-info-texts h2{
    font-size: 32px;
    font-family: "vazir-bold" ;
}
.salon-info-texts span{
    width: 600px;
}
/* Salon info section  */

/* footer section */
footer{
    margin-top: 100px;
    background-color: var(--secondary-color);
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 0;
}
.footer-wrapper span{
    font-size: 26px;
    font-family: "vazir-bold" ;
}
.footerr-svgs{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-text{
    text-align: center;
}

@media (max-width : 1280px) {
    .salon-info-texts span{
        width: 500px;
    }
    .salon-info_wrapper img{
        width: 400px;
        height: 400px;
    }

}
@media (max-width : 1024px) {
    .specialist-info{
        gap: 0;
        padding: 10px;
    }
    .salon-info_wrapper{
        flex-direction: column-reverse;
    }
    .salon-info-texts h2{
        text-align: center;
    }
    .salon-info-texts span{
        text-align: center;
        width: 100%;
    }

}
@media (max-width : 640px) {
   .header-topbars{
    display: none;
   }
   .header-top_menu{
    display: block;
    background-color: transparent;
    border: none;
   }
   .header-top_button{
    padding: 5px;
    font-size: 12px;
   }
   .salon-name{
    font-size: 3rem;
   }
   .info-wrapper{
    gap: 10px;
   }
   .info-wrapper span{
    text-align: center;
    font-size: 14px;
   }
   .info-wrapper p{
    font-size: 12px;
   }
   .info-icons{
    width: 43px;
    height: 43px;
   }
   .service span{
    padding: 5px;
    font-size: 16px;
   }
     .specialist-info span{
    font-size: 12px;
    }
   .specialist-info p{
    font-size: 12px;
    }


}
@media (max-width : 480px) {
    .header-content_wrapper{
    height: 300px;
    margin-top: 50px;
    }
    .header-img{
        height: 400px;
    }
    .salon-name{
    font-size: 2rem;
   }
   .info-icons{
    width: 30px;
    height: 30px;
   }
    .info-wrapper span{
    font-size: 10px;
   }
    .info-wrapper p{
    font-size: 10px;
   }
   .line-between{
    width: 1px;
    margin: 0 8px;
   }
   .services{
    margin-top: 50px;
   }
   .services h2{
    font-size: 24px;
   }
   .service span{
    padding: 3px;
    font-size: 12px;
   }
   .specialists{
    margin-top: 50px;
   }
   .Specialists h2{
    font-size: 24px;
   }
    .specialist-info span{
    font-size: 10px;
    }
   .specialist-info p{
    font-size: 8px;
    }
    .salon-info_wrapper{
        gap: 20px;
    }
    .salon-info_wrapper img{
        width: 200px;
        height: 200px;
    }
    .salon-info-texts span{
        font-size: 14px;
    }
    .salon-info-texts h2{
        font-size: 24px;
    }
}
