body {
    background-image: url(../../images/heroimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form h1 {
    font-size: 20px;
}

.login-form form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form form label {
    font-family: "vazir-bold";
    margin-top: 10px;
}

.login-form form input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.login-form button {
    width: 70px;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    font-family: "vazir-bold";
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.has-acount {
    font-size: 12px;
    text-align: right;
    width: 100%;
    margin-top: 15px;
}

.has-acount a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary-color);
}

/* responsive section */

@media (max-width : 640px) {
    .login-form {
        width: 400px;
    }
}

@media (max-width : 480px) {
    .login-form {
        width: 300px;
    }
}