@import './services.css';
/* specialist section  */
.specialists-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}
.specialists-section img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid  var(--primary-color) ;
}
.specialists-info{
    display: flex;
    flex-direction: column;
    gap: 25px
}
.specialists-info span{
    font-size: 28px;
    font-family: "vazir-bold";
}
.scoring{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.scoring button{
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-family: "vazir-bold";
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}
/* specialist section  */

/* samples section */
.samples-section{
    margin-top: 50px;
}
.samples-section h2{
    font-size: 20px;
    font-family: "vazir-bold";
    text-align: center;
}
.samples-wrapper{
    width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.samples-wrapper img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

/* responive section */

/* @media (max-width : 825px) {
     .samples-wrapper img{
        width: 200px;
        height: 200px;
    }
    
}
@media (max-width : 550px) {
     .samples-wrapper img{
        width: 150px;
        height: 150px;
    } */
    

@media (max-width : 480px) {
    .specialists-section img , .samples-wrapper img{
        width: 200px;
        height: 200px;
    }
    .specialists-info span{
        font-size: 20px;
    }
    .specialists-info p{
        font-size: 14px;
    }
    .scoring button{
        padding: 5px;
        font-size: 14px;
    }
}


